.about-page {
  height: 120vh;
  width: 100%;
  background-color: #2E2E2E;
  position: relative;
  padding-top: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.about-page::before {
  position: absolute;
  content: '';
  width: 80%;
  height: 2px;
  background-color: #4063FF;
  left: 10%;
  bottom: 40%;
}

.about-page::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 25%;
  background-color: #4063FF;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.about-page .main-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  background-color: #FAFAFA;
  margin: 0 20% 5% 0;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0 20px 20px 0;
}

.about-page section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-page section div {
  width: 12rem;
  height: 12rem;
  background-color: #FAFAFA;
  border: 1px solid #4063FF;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 20px 20px 20px 20px;
}

.about-page section div svg {
  height: 9rem;
  width: 9rem;
  margin-left: 0.5rem;
}

.about-page section div .svg-caption {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  line-height: 1rem;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .about-page .main-text {
    margin: 0 10% 5% 0;
  }
}

@media screen and (max-width: 725px) {
  .about-page .main-text {
    margin: 0 0 5% 0;
    border-radius: 0 0 0 0;
  }
  .about-page::before {
    bottom: 35%;
  }
}

@media screen and (max-width: 625px) {
  .about-page section div {
    width: 10rem;
    height: 10rem;
  }
  .about-page section div svg {
    height: 7rem;
    width: 7rem;
    margin-left: 0.5rem;
  }
  .about-page section div .svg-caption {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 1rem;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 510px) {
  .about-page {
    height: auto;
    padding-bottom: 5%;
  }
  .about-page section {
    position: relative;
    display: block;
  }
  .about-page section div {
    width: 10rem;
    height: 10rem;
    margin-left: calc(50% - 5rem);
    margin-top: 1rem;
  }
  .about-page::before {
    display: none;
  }
  .about-page::after {
    height: 30%;
  }
}
