@import "settings.scss";

header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 3;

    .nav-display {
        font-family: 'Rubik', sans-serif;
        display: flex;
        align-items: center;
        height: 180px;

        .nav-toggle-label {
            margin-left: 100px;
            display: block;
            cursor: pointer;

            span {
                display: block;
                width: 40px;
                height: 4px;
                margin: 4px 0;
                background-color: $dark-clr;
                outline: 1px solid $white-clr;
                position: relative;
            }
            span::before {
                content: '';
                position: absolute;
                display: block;
                width: 40px;
                height: 4px;
                background-color: $dark-clr;
                outline: 1px solid $white-clr;
                left: 0;
                top: -8px;
            }
            span::after {
                content: '';
                position: absolute;
                display: block;
                width: 40px;
                height: 4px;
                background-color: $dark-clr;
                outline: 1px solid $white-clr;
                left: 0;
                bottom: -8px;
            }
        }

        p {
            color: $blue-clr;
            font-size: 1.8rem;
            font-weight: 600;
            margin: 0 50px;
        }

        img {
            width: 40px;
            margin-right: 100px;
            margin-left: auto;
        }

        nav {
            position: absolute;
            z-index: -1;
            width: 550px;
            height: 100vh;
            top: 0;
            left: 0;
            background: $dark-clr;
            transform: scale(0, 1);
            transform-origin: left;
            transition: transform 0.6s ease;
      
            ul {
                display: block;
                margin: 200px 0 0 100px;
                padding: 0;
                opacity: 0;
                list-style-type: none;
                font-size: 1.5rem;
                color: $white-clr;
                transition: opacity 0.2s ease;
      
                li {
                    margin-top: 50px;
                }

                a {
                    text-decoration: none;
                    color: $white-clr;
                    position: relative;
                }

                a:visited {
                    text-decoration: none;
                    color: $white-clr;
                }

                a::after{
                    position: absolute;
                    content: '';
                    width: 120px;
                    height: 2px;
                    left: 0;
                    bottom: -2px;
                    background-color: $white-clr;
                    transition: transform 0.5s ease;
                    transform: scaleX(0);
                    transform-origin: left;
                }

                a:focus::after, a:hover::after {
                    transform: scaleX(1);
                }

                a:hover, a:focus {
                    cursor: pointer;
                }
            }
        }
      
        .nav-toggle, .img-toggle {
            display: none;
        }
      
        .nav-toggle:checked ~ nav {
            transform: scale(1, 1);
        }
      
        .nav-toggle:checked ~ nav ul {
            opacity: 1;
            transition: opacity 0.3s ease 0.3s;
        }
    
    // .nav-toggle:checked > .nav-display p {
    //      color: $white-clr;
    // } This needs to be done in Javascript, no Parent selector to change the color in CSS.

    }
}

@media only screen and (max-width: 620px) {
    header {
    
        .nav-display {
            height: 100px;
    
            .nav-toggle-label {
                margin-left: 20px;
            }
    
            p {
                margin: 0 0 0 20px;
                font-size: 1.5rem;
            }
    
            img {
                width: 30px;
                margin-right: 20px;
            }
    
            nav {
                width: 300px;
          
                ul {
                    margin: 100px 0 0 20px;
                    font-size: 1.2rem;
          
                    li {
                        margin-top: 30px;
                    }
                }
            }
    
        }
    }
}